/*Background*/
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background: linear-gradient(to bottom, #b9deed, #efefef);
  /*background-image: linear-gradient(to bottom, #b6cce4,#f5eeb7);*/
}
html {
min-height: 100%;
position:relative;

}
/* HEADER & FOOTER*/
header, footer {
text-align: center;
background-color: rgb(250, 249, 167);

width:80vws;
max-width: 900px;
padding-left: 5%;
padding-right: 5%;
margin: 0 auto;

/*background-color: black;
/*background-image: url("./images/gruppenbild summersplash 22_zugeschnitten.jpg");
background-position: center; /* Center the image */
/*background-repeat: no-repeat; /* Do not repeat the image */
/*background-size: 100vw 20vh;*/
}
h1{
margin-top: 0;
padding-top: 3%;
}
h4{
padding-bottom: 3%;
margin-bottom: 0;
}
p{
margin: 0;
margin-bottom: 3%;
padding: 2%;
}

/*body */
#registrationFormContainer {
  width:80vw;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 0;
  background: rgb(255, 255, 255);
  padding: 5%;
  padding-top: 2.5%;
  border: 1px solid lightgrey;
}
#registrationFormContainer > div {
width: 100%;
}
.redStarInf{
margin-bottom: 2%;
}

/* Text Input Field*/
input[type=text], input[type=email], input[type=date] {
width: 94%;
padding: 2%;
padding-left: 3%;
display: inline-block;
border: none;
background: #f1f1f1;
margin-top: 2%;
margin-bottom: 7%;
margin-left: 1.5%;
}
input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: 1px solid black;
}

/* TEXT*/
.label{
font-size: 16px;
font-weight: 700;
}
.description{
padding: 0;
margin-left: 1.5%;
margin-top: 1%;
margin-bottom: 0px;
color: black;
}
.label_select_prio{
padding: 0;
margin-left: 1.5%;
}

/*SELECT*/
.select{
background-color: #f1f1f1;
width: 20%;
margin-top: 2%;
margin-bottom: 7%;
margin-left: 1.5%;
margin-right: 1.5%;
padding: 1%;

font-weight: lighter;
font-size: 90%;
}

.dynamicContainer{
background-color: lightgray;
padding: 10px;
margin-bottom: 2vh;
}

/*BUTTON*/
.submitButton {
width:80vw;
max-width: 900px;
margin: 0 auto;
font-size: 1.5vh;
background-color: rgb(255, 243, 243);
border: none;
padding: 1%;
text-align: center;
text-decoration: none;
display: inline-block;

transition-duration: 0.4s;
}

.submitButton:hover {
background-color: lightblue;
color: white;
}

/*LINK*/
.link{
padding: 0;
margin-left: 1.5%;
margin-top: 1%;
margin-bottom: 0px;
color: rgb(143, 218, 243);
}
.link:hover {
color: blue;
cursor: pointer;
}

